{% load staticfiles %}

<!doctype html>
<html>
    <head>
        <title>POC</title>
        <meta charset="urf-8">

        {{ form.media.css }}
        <style type="text/css">
            select {
                width: 200px;
            }
        </style>
    </head>

    <body>
        <h1>My favorite books</h1>

        <div id="formset-template" style="display: none;">
            {{ form.empty_form }}
        </div>

        <form method="post" action=".">
            {% csrf_token %}
            {{ form.management_form }}

            <div id="formset">
                {% for f in form %}
                    {{ f }}
                {% endfor %}
            </div>
            <button type="submit">submit</button>
        </form>

        <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="{% static 'jquery.formset.js' %}"></script>
        {{ form.media.js }}
        <script>
            (function () {
                // init dynamic formset
                $('#formset').formset({
                    formTemplate: $('#formset-template').clone(),
                    // initialize newly created heavy fields on the added callback
                    added: function (row) {
                        row.find('.django-select2.django-select2-heavy').each(function () {
                            var field_id = $(this).data('field_id');
                            $(this).select2({
                                ajax: {
                                    data: function (params) {
                                        return {
                                            term: params.term,
                                            page: params.page,
                                            field_id: field_id
                                        }
                                    },
                                    processResults: function (data, page) {
                                        return {
                                            results: data.results,
                                            pagination: {
                                                more: data.more
                                            }
                                      }
                                    }
                                }
                            });
                        });
                    }
                });
            }());
        </script>

    </body>
</html>
